.frame {
  > .header {
    background-color: blue;
    padding-bottom: 5px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    button {
      margin-left: 10px;
    }
  }

  > .page {
    position: relative;
    overflow: hidden;
  }
}

@import "feature/frame/SnackBar";
