html, body, .page {
  height: 100%;
}

.page {
  display: flex;
  flex-direction: column;

  .header {
    flex: 0 0 38px;
  }

  .content {
    flex: 1;
  }

}



@import "content/styles";
@import "home/styles";
@import "login/styles";
