html, body {
  height: 100%;
}

.wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;

  .header {
    flex: 0 50px;
    background-color: grey;
  }

  .content {
    flex: 1;
    ul:first-child {
      display: flex;
      flex-direction: row;
      list-style-type: none;
      padding: 0;
      margin: 0;
      li {
        width: 60px;
        height: 40px;
        cursor: pointer;
      }
    }
    ul {
      display: flex;
      flex-direction: column;
    }
  }

  .footer {
    flex: 0 50px;
    background-color: grey;
  }

}
